<div class="container-fluid">
  <div class="container">
    <h1>Register</h1>
    <!--Prevent page refresh on submit, call appropriate function.-->
    <form (submit)="$event.preventDefault(); register()">
      <div class="form-group">
        <label for="username">Username:</label>
        <input [(ngModel)]="user.username" name="username" type="text">
      </div>
      <button class="btn btn-light">Submit</button>
    </form>

    <h1>Login</h1>
    <form (submit)="$event.preventDefault(); submitLogin()">
      <div class="form-group">
        <label for="login_username">Username:</label>
        <input [(ngModel)]="login.username" name="login_username" type="text">
      </div>
      <button class="btn btn-light">Submit</button>
    </form>
  </div>
</div>