.container-fluid {
    height: 600px;
}

.container {
    /* border: 1px solid gray; */
    padding: 20px;
    width: 550px;
    height: 400px;
    margin-top: 15%;
    /* -webkit-box-shadow: 10px 10px 11px 1px rgba(187,187,201,1);
    -moz-box-shadow: 10px 10px 11px 1px rgba(187,187,201,1);
    box-shadow: 10px 10px 11px 1px rgba(187,187,201,1); */
    background-color: #ececfc;
    position: relative;
}

.reg {
    display: inline-block;
    width: 230px;
    position: absolute;
    left: 20px;
}

.login {
    display: inline-block;
    width: 230px;
    position: absolute;
    right: 20px;
}

h1 {
    color: #292f36;
}
