<div class="container-fluid">
    <div class="container">
        <div class="dialog-window">
            <div class="messages">
                <div *ngFor="let item of messageArray">
                <span><strong>{{item.user}}: </strong> {{item.message}}</span>
                </div>
            </div>
        </div>
        <div class="row">
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="messageText" placeholder="Enter message">
            <button type="button" class="btn btn-success pull-right" (click)="sendMessage()">Send</button>
            <button *ngIf="!RoomJoin" type="button" class="btn btn-primary" (click)="leave()">leave</button>
            <!-- <button type="button" class="btn btn-success pull-right" [(routerLink)]="['room/' + ]" -->
    </div>
</div>