<div class="container-fluid" id="background">
    <div class="container-fluid" id="foreground">
        <p>Welcome, {{ User }}</p>
        <h2>{{ Room }}</h2>
        <button *ngIf="!RoomJoin" type="button" class="btn btn-primary" (click)="leave()" id="leave">leave room</button>
        <div class="dialog-window">
            <div class="messages">
                <div *ngFor="let item of messageArray" id="message">
                <span><strong>{{item.user}}: </strong> {{item.message}}</span>
                </div>
            </div>
        </div>
        <div>
            <button id="button1" (click)="buttonClick($event)" [disabled]="state.onePushed">Button 1</button>
            <button id="button2" (click)="buttonClick($event)" [disabled]="state.twoPushed">Button 2</button>
        </div>
        <div id="message_input">
            <form (ngSubmit)="sendMessage()">
                <input id="input" type="text" class="form-control" [(ngModel)]="messageText" placeholder="Enter message" name="message-text">
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        <!-- <button type="button" class="btn btn-success pull-right" [(routerLink)]="['room/' + ]" -->
        </div>
    </div>
</div>