#background {
    /* height: 800px; */
    height: 100vh;
    width: 95vw;
    overflow: hidden;
}

#foreground {
    padding: 20px;
    width: 100%;
    height: 80%;
    margin-top: 10%;
    /* border-radius: 5px; */
    /* #ececfc */
    background-color: #ececfc27;
    position: relative;
}
/* #ececfc */

.room_header {
    width: 100%;
}

.room_header h1 {
    display: inline-block;
}
.room_header button {
    /* display: inline-block; */
    float: right;
}

h2 {
    display: inline-block;
    color: #ececfc;
}

p {
    color: #ececfc;
}

.rooms_list {
    overflow: scroll;
}