<div class="container-fluid">
  <div class="container">
    <h1>Welcome {{User}}</h1>
    <div class="row">
        <div class="col-sm-5">
        <div class="form-group">
            <div>
                <label for="room">Room</label>
                <input type="text" [(ngModel)]="Room" class="form-control" placeholder="Enter Room">
                <button type="button" class="btn btn-primary" (click)="joinBySearch()">Join</button>
            </div>
        </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="join(User)">New Room</button>
</div>